doctype html
html
  head
    title= title
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/test/fontstyle.css')

  body

    .ui.fixed.menu(style="margin-bottom:100px;")
      .ui.container
        a.header.item(href='/')
          span.icon-m9ma
            span.path26(style='font-size:20px;color:gray;') &#xe923;
          | ryMenu
        //- a.item(href='#') Home

        //- .ui.simple.dropdown.item
        .ui.simple.dropdown.item
          | Folders 
          i.dropdown.icon
          .menu
            .header.large API JS テストファイル
            a.item.right(href='/test/')
              i.folder.icon
              span test
            //- .divider
            //- .header ss test
            a.item(href='/dest1')
              i.photo.icon
              span dest
            //- .header Header Item
            //- .item
              i.dropdown.icon
              |             Sub Menu
              .menu
                a.item(href='#') Link Item
                a.item(href='#') Link Item
            //- a.item(href='#') Link Item
        .right.menu
          .item
            .ui.transparent.inverted.icon.input
              if title
                a(href="/logout").ui.inverted.blue.animated.button(tabindex='0')
                  .visible.content 
                    i.key.icon 
                    span logout
                      //- i.right.arrow.icon 
                  .hidden.content
                    i.key.icon 
                    span now
                      i.right.arrow.icon 
              else
                a(href="/login/").ui.blue.button.disabled 
                  i.child.icon 
                  span hi hello


    p(style="margin-bottom:50px;")
    block content
