extends layout

block content
  .ui.text.container.aligned.center.aligned.grid(style="margin-top:80px;")
    .column
      div
        span.icon-m9ma
         span.path26(style='font-size:40px;color:#2185D0;') &#xe923;
      h2.ui.blue.image.header
        //- img.image(src='assets/images/logo.png')
        .content
          | Log-in to your account. 
          br
          | ログインしてください
      form(action="/login", method="POST").ui.large.form
        .ui.stacked.segment
          .three.fields
            .field
              .ui.left.icon.input
                i.user.icon
                input(type='text', name='userName', placeholder='userName')
            .field
              .ui.left.icon.input
                i.lock.icon
                input(type='password', name='passWord', placeholder='passWord')
            .field
              button(type='submit',style='width:100%;line-height: 1.1em;').ui.blue.animated.button(tabindex='0')
                .visible.content 
                  i.left.key.icon 
                  span   Login | ログイン
                .hidden.content
                  span Go
                    i.right.arrow.icon 
          //- .two.fields
            .field
            //- .field
              //- button(type='submit').ui.fluid.large.blue.submit.button Login | ログイン
            .field
              button(type='submit').ui.large.blue.animated.button(tabindex='0')
                .visible.content 
                  i.left.key.icon 
                  span Login   |   ログイン
                .hidden.content
                  span Go
                    i.right.arrow.icon 

        .ui.error.message
          p error #{error}

      script.
        $('.ui.form')
        .form({
          fields: {
            userName: {
              identifier: 'userName',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter a username | ユーザー名を入れてください'
                }
              ]
            },
            passWord: {
              identifier: 'passWord',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter a password | パスワードをいれてください'
                },
                {
                  type   : 'minLength[4]',
                  prompt : 'Your password must be at least {ruleValue} characters | パスワードは ６ 文字以上入力してください'
                }
              ]
            },
                }
        });

      .ui.stacked.segment
        .three.fields.ui.large.form
          .field
            a(href="/test/").ui.inverted.blue.button 
              i.folder.icon 
              span test フォルダ
            //- .field
            //-   a(href="/screenshots/").ui.inverted.blue.button 
            //-     i.photo.icon 
            //-     span test フォルダ
            //- .field
            //-   a(href="/screenshots/").ui.inverted.blue.button 
            //-     i.photo.icon 
            //-     span test フォルダ      .ui.text.container.aligned.center.aligned.grid
      .ui.message
        | Contact us ? 
        a(href='#') こちらまで
