extends layout

block content
  .ui.container.aligned.center.aligned.grid(style="margin-top:80px;")
    .column
      h2.ui.blue.image.header
        //- img.image(src='assets/images/logo.png')
        .content
          | yahoo api test 
          br.pcNone
          | Yahooショッピング検索
      p Enterキーは無効です。入力後[検索]をクリック
      .ui.stacked.segment.form
        .three.fields
          .field
            h3 ショップID
            form
              .ui.icon.input
                input#shopId(type='text', value='shopjapan' ,placeholder='shopId')
                i.circular.search.icon
              //- input#buttonq(type='button', value='送信').ui.button
          .field
            h3 商品URL,商品IDから検索
            form.inline
              .ui.icon.input.ten.wide.field
                //- - if itemId 
                //- -    var value = itemId
                - var value = (itemId)?itemId:'trcs-dss';
                //- - else
                //- -    var value = 'trcs-dss'
                //- p v #{value}  i #{itemId}
                input#goodsq(type='text', value=value ,placeholder='item url 商品URL')
                i.circular.search.icon
              input#buttonq(type='button', value='送信').ui.button
          .field
            h3 商品名から検索(日本語可)
            form
              .ui.icon.input.ten.wide.field
                input#goods(type='text', value='ナイス')
                i.circular.search.icon
              input#button(type='button', value='送信').ui.button
        #content
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='/test/yapi.js')
