/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

.ui.section.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.ui.segment {
  margin-bottom: 2px;
}
@media (max-width: 1380px) {

  .displayNone {
    display: none;
  }
  .pcNone {
    display: none ; 
  }
  .spNone {
    display: block;
  }

}
@media (max-width: 480px) {
  .pcNone {
    display: block ; 
  }

  .spNone {
    display: none;
  }

}
